@import '../../config/theme.scss';

@function caculate-dropdown-offset($font-size, $padding-vertical, $border-width) {
  @return $padding-vertical * 2 + $font-size + $border_width * 6
}

.selectorContainer {
  position: relative;
  display: inline-block;
  border: $colors-border-active solid $layout-button-border_width;
  padding: $layout-spacing-xsm $layout-spacing-sm;
  background-color: transparent;
}

.selectorMainButton {
  cursor: pointer;
  background-color: transparent;

  @extend %fonts-ff-regular;
  @include font-size-responsive($font-size-md);
  color: $colors-font-primary;
}

.optionButton {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  text-align: left;

  @extend %fonts-ff-regular;
  font-size: $font-size-md;
  color: $colors-font-primary;
  padding: $layout-spacing-xsm $layout-spacing-md;
}

.menuContainer {
  position: absolute;
  top: caculate-dropdown-offset($font-size-md, $layout-spacing-xsm, $layout-button-border_width);
  right: 0;
  left: 0;
  background-color: $colors-background-tertiary;
  z-index: $layout-z-index-top;
}

.optionElement {
  display: block;

  &__inline {
    display: inline;
    margin-right: $layout-spacing-lg;
  }
}