$colors-font-primary: #ffffff;
$colors-font-secondary: #e5e5e5;
$colors-font-tertiary: #dcdcdc;
$colors-font-inactive: #dcdcdc80;
$colors-font-highlight: #25b840;
$colors-font-contrast: #141414;
$colors-font-bullets: #dcdcdc80;

$colors-background-primary: #141414;
$colors-background-secondary: #dcdcdc;
$colors-background-tertiary: #000000;

$colors-border-inactive: #dcdcdc80;
$colors-border-active: #ffffff;
$colors-border-tab: #e50914;

$colors-button-primary: #e50914;
$colors-button-seconday: #333333;
$colors-button-active: #FF0A16;

$colors-tag-primary: #e50914;

$colors-opacity-traslucent: 0.4;

// TODO: Await for styles unifying... Following styles are added for modal
$hl-colors-background-primary: #14191e;
$hl-colors-background-primary-opaque: #14191ee6;
$hl-colors-background-button: #19b5fe;

$hl-colors-font-data-and-button: #ffffff;
$hl-colors-font-header: #8ca0c3;

%hl-colors-gradient {
  background: -webkit-linear-gradient(left top, #5dbefc, #dd92fe);
}