$colors-font-primary: #ffffff;
$colors-font-secondary: #e5e5e5;
$colors-font-tertiary: #dcdcdc;
$colors-font-highlight: #25b840;
$colors-font-contrast: #141414;

$colors-background-primary: #141414;
$colors-background-secondary: #dcdcdc;

$colors-border-inactive: #dcdcdc80;
$colors-border-active: #ffffff;

$colors-button-primary: #e50914;
$colors-button-seconday: #333333;

$colors-tag-primary: #e50914;

$colors-opacity-traslucent: 0.4;
