$colors-font-primary: #8ca0c3;
$colors-font-secondary: #dce1eb;
$colors-font-tertiary: #ffffff;
$colors-font-inactive: #dce1eb80;
$colors-font-highlight: #19b5fe;
$colors-font-contrast: #14191e;
$colors-font-bullets: #19b5fe;
$colors-font-data-and-button: #ffffff;

$colors-hl-gradient-start: #5dbefc;
$colors-hl-gradient-mid: #dd92fe;
$colors-hl-gradient-end: #ff8969;

$colors-background-primary: #14191e;
$colors-background-secondary: #dcdcdc;
$colors-background-tertiary: #323746;
$colors-background-primary-opaque: #14191ee6;
$colors-background-primary-overlay: #14191e65;
$colors-background-primary-featured-overlay: #00000026;
$colors-background-tertiary-overlay: #32374665;

$colors-border-inactive: #dcdcdc80;
$colors-border-active: #ffffff;
$colors-border-tab: #19b5fe;

$colors-button-primary: #19b5fe;
$colors-button-seconday: #333333;
$colors-button-active: #19b5fe;

$colors-tag-primary: #19b5fe;

$colors-opacity-traslucent: 0.4;

%hl-colors-gradient {
  background: -webkit-linear-gradient(left top, #5dbefc, #dd92fe);
}

%hl-colors-font-gradient {
  background: -webkit-linear-gradient(left top, #5dbefc, #dd92fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}