%fonts-ff-bold {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

%fonts-ff-regular {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

$font-size-xxsm: 0.5vw;
$font-size-xsm: 0.6vw;
$font-size-sm: 0.8vw;
$font-size-md: 1vw;
$font-size-lg: 1.2vw;
$font-size-xlg: 1.4vw;
$font-size-xxlg: 2vw;

@mixin font-size-responsive($base-font-size) {
  font-size: $base-font-size;

  $breakpoints: (
    1170px: 1.2,
    840px: 1.5,
    640px: 1.8
  );

  @each $width, $size-multiplier in $breakpoints {
    @media screen and (max-width: $width) {
      font-size: $base-font-size * $size-multiplier;
    }
  }
}

// ----------------------
// TODO: Unify styles
// ----------------------
@font-face {
  font-family: 'Monserrat Regular';
  src: local('FiraSans'), url(../../assets/fonts/Montserrat-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Monserrat Bold';
  src: local('FiraSans'), url(../../assets/fonts/Montserrat-Bold.otf) format('truetype');
}

%hl-fonts-ff-regular {
  font-family: 'Monserrat Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

%hl-fonts-ff-bold {
  font-family: 'Monserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

%hl-fonts-ff-indicator-and-buttons {
  font-family: 'Robotto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

$hl-font-size-xxsm: 8px;
$hl-font-size-sm: 12px;
$hl-font-size-md: 15px;