%fonts-ff-bold {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

%fonts-ff-regular {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

$font-size-xxsm: 0.5vw;
$font-size-xsm: 0.6vw;
$font-size-sm: 0.8vw;
$font-size-md: 1vw;
$font-size-lg: 1.2vw;
$font-size-xlg: 1.4vw;
$font-size-xxlg: 2vw;

@mixin font-size-responsive($base-font-size) {
  font-size: $base-font-size;

  $breakpoints: (
    1170px: 1.2,
    840px: 1.5,
    640px: 1.8
  );

  @each $width, $size-multiplier in $breakpoints {
    @media screen and (max-width: $width) {
      font-size: $base-font-size * $size-multiplier;
    }
  }
}
