$layout-spacing-xxsm: 0.2vw;
$layout-spacing-xsm: 0.4vw;
$layout-spacing-sm: 0.7vw;
$layout-spacing-md: 1vw;
$layout-spacing-lg: 4vw;
$layout-spacing-xlg: 5vw;
$layout-spacing-xxlg: 8vw;

$layout-spacing-xxxxsm-abs: 4px;
$layout-spacing-xxxsm-abs: 6px;
$layout-spacing-xxsm-abs: 8.5px;
$layout-spacing-xsm-abs: 12.5px;
$layout-spacing-sm-abs: 15px;
$layout-spacing-md-abs: 25px;
$layout-spacing-lg-abs: 30px;
$layout-spacing-xlg-abs: 45px;
$layout-spacing-xxlg-abs: 90px;

$layout-spacing-podcast-slider-top: 10px;
$layout-spacing-podcast-slider-bottom: 65px;
$layout-spacing-podcast-app-slider-top: 20px;
$layout-spacing-podcast-app-slider-bottom: 75px;

$layout-logo-size: 100px;

$layout-spacing-page-header: 20vw;

$layout-spacing-details-header-height: 3vw;
$layout-spacing-details-header-height-app: 21vw;
$layout-spacing-details-header-width: 50vw;
$layout-spacing-details-header-width-tablet: 70vw;
$layout-spacing-details-header-width-responsive: 85vw;
$layout-spacing-details-max-width: 50vw;
$layout-spacing-overview-bottom-space: 15vw;
$layout-spacing-overview-sliders-overlap: -15vw;
$layout-spacing-overview-sliders-overlap-app: -25vw;
$layout-spacing-overview-sliders-overlap-mobile: 0vw;

$layout-border-radius: 5px;
$layout-border-radius-lg: 10px;
$layout-border-radius-button: 1.5px;

$layout-portrait-xs-width-breakpoint: 335px;
$layout-portrait-xs-width-breakpoint: 375px;
$layout-portrait-width-breakpoint: 576px;
$layout-app-width-breakpoint: 768px;
$layout-tablet-width-breakpoint: 992px;
$layout-desktop-small-width-breakpoint: 1200px;

$layout-rounded-button-size: 2vw;

$layout-button-border_width: 0.1vw;
$layout-tag-border_width: 0.2vw;
$layout-video-card-border_width: 8px;
$layout-tab-border_width: 4px;
$layout-border-width-abs: 2.5px;

$layout-expanded-header-width: 16vw;
$layout-expanded-header-height: 16vw * 9 / 16;

$layout-button-circular-width-regular: 50px;
$layout-button-circular-width-small: 35px;
$layout-button-circular-width-big: 75px;

$layout-lg-controls-bottom-space: 32%;
$layout-sm-controls-bottom-space: 15%;

$layout-grow-factor-hl-button: 1.05;
$layout-button-grow-factor-small: 1.1;
$layout-button-grow-factor-large: 1.5;
$layout-video-card-grow-factor: 1.55;

$layout-transition-time-quick: 300ms ease 100ms;
$layout-transition-time: 750ms ease 100ms;

$layout-hidden-z-index: -1;
$layout-z-index-low: 5;
$layout-z-index-mid: 10;
$layout-z-index-top: 15;
$layout-topbar-z-index: 100;
$layout-modal-z-index: 110;
$layout-modal-content-z-index: 120;

$layout-topbar-content-height: 40px;

$episode-aspect-ratio-coef: 1;
$episode-slider-cards-amount-desktop: 5;
$episode-slider-cards-amount-tablet: 4;
$episode-slider-cards-amount-mobile-landscape: 3;
$episode-slider-cards-amount-mobile-portrait: 2;

$featured-video-header-aspect-ratio: 16 / 9;
$featured-video-header-aspect-ratio-tablet: 16 / 12;
$featured-video-header-aspect-ratio-app: 1;

$player-medium-size-width: 60vw;
$player-aspect-ratio-coef: 1;

$video-details-aspect-ratio-coef: 16 / 7;
$video-details-aspect-ratio-coef-tablet: 16 / 9;
$video-details-aspect-ratio-coef-landscape: 16 / 11;
$video-details-aspect-ratio-coef-portrait: 100 / 125;
$video-details-aspect-ratio-coef-portrait-xs: 100 / 150;
$video-details-aspect-ratio-coef-portrait-xxs: 100 / 175;

$video-details-video-width: 50vw;
$video-details-video-width-tablet: 70vw;
$video-details-video-width-landscape: 80vw;
$video-details-video-width-portrait: 125vw;
$video-details-video-width-portrait-xs: 150vw;
$video-details-video-width-portrait-xxs: 175vw;
$video-details-header-shrink-factor: 0.7;

%layout-absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin calculate-aspect-height($width, $aspect-ratio: $player-aspect-ratio-coef) {
  height: $width / $aspect-ratio;
  width: $width;
}

@function calc-slider-card-width($cards-amount, $is-app: false) {
  @if($is-app) {
    @return (100vw - (($layout-spacing-xxlg) * 2 + $layout-spacing-xsm * ($cards-amount - 1))) / $cards-amount;
  }
  @return (100vw - (($layout-spacing-lg) * 2 + $layout-spacing-xsm * ($cards-amount - 1))) / $cards-amount;
}

@mixin calculate-cards-size($cards-amount, $class-name: '', $aspect-ratio: $player-aspect-ratio-coef) {
  $slider-card-width: calc-slider-card-width($cards-amount);
  $slider-card-height: $slider-card-width / $aspect-ratio;

  height: $slider-card-height;
  width: $slider-card-width;

  @media screen and (max-width: $layout-tablet-width-breakpoint) {
    $slider-card-width: calc-slider-card-width($cards-amount, true);
    $slider-card-height: $slider-card-width / $aspect-ratio;

    height: $slider-card-height;
    width: $slider-card-width;
  }

  @if($class-name != '') {
    &__expanded ~ .#{$class-name} {
      transform: translateX(calc-slider-translation-base($cards-amount));
    }
  }
}

@function calculate-player-scale-correction($grow-factor) {
  @return (1 / $layout-video-card-grow-factor);
}

@function calculate-player-scale-position-correction($grow-factor) {
  @return -(($layout-video-card-grow-factor - 1) * 100% / 2);
}
