$layout-spacing-xxsm: 0.2vw;
$layout-spacing-xsm: 0.4vw;
$layout-spacing-sm: 0.7vw;
$layout-spacing-md: 1vw;
$layout-spacing-lg: 3vw;
$layout-spacing-xlg: 5vw;
$layout-spacing-xxlg: 7vw;

$layout-spacing-page-header: 20vw;

$layout-spacing-details-header-height: 5vw;
$layout-spacing-details-header-width: 40vw;
$layout-spacing-details-max-width: 50vw;

$layout-border-radius: 5px;

$layout-rounded-button-size: 2vw;

$layout-button-border_width: 0.1vw;
$layout-tag-border_width: 0.2vw;
$layout-video-card-border_width: 0.3vw;
$layout-tab-border_width: 0.3vw;

$layout-expanded-header-size: 12.5vw;

$layout-button-circular-width-regular: 2.6vw;
$layout-button-circular-width-small: 2.0vw;

$layout-lg-controls-bottom-space: 32%;
$layout-sm-controls-bottom-space: 15%;

$layout-button-grow-factor-small: 1.1;
$layout-button-grow-factor-large: 1.5;
$layout-video-card-grow-factor: 1.8;

$layout-transition-time-quick: 300ms ease 100ms;
$layout-transition-time: 750ms ease 100ms;

$layout-hidden-z-index: -1;
$layout-z-index-low: 5;
$layout-z-index-mid: 10;
$layout-z-index-top: 15;
$layout-topbar-z-index: 100;

$episode-aspect-ratio-coef: 1.9;

$player-medium-size-width: 60vw;
$player-container-scale-correction: (1 / $layout-video-card-grow-factor);
$player-container-scale-position-correction: -(($layout-video-card-grow-factor - 1) * 100% / 2);
$player-aspect-ratio-coef: 16 / 9;

$video-details-aspect-ratio-coef: 16 / 5;
$video-details-aspect-ratio-coef-shrinked: 16 / 7;
$video-details-video-width: 100vw * 7 / 9;
$video-details-header-shrink-factor: 0.7;

%layout-absolute-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin calculate-aspect-height($width, $aspect-ratio: $player-aspect-ratio-coef) {
  height: $width / $aspect-ratio;
  width: $width;
}

@mixin calculate-cards-size($cards-amount, $class-name: '', $aspect-ratio: $player-aspect-ratio-coef) {
  $slider-card-width: calc-slider-card-width($cards-amount);
  $slider-card-height: $slider-card-width / $aspect-ratio;

  height: $slider-card-height;
  width: $slider-card-width;

  @if($class-name != '') {
    &__expanded ~ .#{$class-name} {
      transform: translateX(calc-slider-translation-base($cards-amount));
    }
  }
}