@import '../../config//theme.scss';

.container {
  @extend %layout-absolute-fill;
  display: flex;
  align-items: center;
  background:
    linear-gradient(transparent 40%, $colors-background-primary),
    linear-gradient(to right, $colors-hl-gradient-start, $colors-hl-gradient-mid, $colors-hl-gradient-end, transparent 75%);
  z-index: $layout-z-index-low;
}

.innerContainer {
  padding: 0 $layout-spacing-lg;
}

.titleText {
  @extend %fonts-ff-bold;
  font-size: $font-size-xlg;
  color: $colors-font-secondary;
  text-transform: uppercase;
  margin: 0 auto $layout-spacing-md;
}

.subtitleText {
  @extend %fonts-ff-bold;
  font-size: $font-size-lg;
  color: $colors-font-highlight;
  margin: 0 auto;
}

.descriptionText {
  max-width: 50vw;
  @extend %fonts-ff-regular;
  font-size: $font-size-lg;
  color: $colors-font-inactive;
  margin: $layout-spacing-xsm 0 $layout-spacing-md;
}
