@import '../../config/theme.scss';

.container {
  @extend %layout-absolute-fill;
  display: flex;
  align-items: center;
  background:
    linear-gradient(transparent 20%, $colors-background-primary),
    linear-gradient(to right, $colors-hl-gradient-start, $colors-hl-gradient-mid, $colors-hl-gradient-end, transparent 75%);

  @media screen and (max-width: $layout-app-width-breakpoint) {
    background: linear-gradient($colors-background-primary-overlay, $colors-background-primary 80%)
  }
  z-index: $layout-z-index-low;
}

.innerContainer {
  padding: 0 $layout-spacing-lg;
}

.titleText {
  @extend %fonts-ff-bold;
  font-size: $font-size-xlg-abs;
  color: $colors-font-secondary;
  text-transform: uppercase;
  margin: 0 auto $layout-spacing-md;
}

.subtitleText {
  @extend %fonts-ff-bold;
  font-size: $font-size-lg-abs;
  color: $colors-font-highlight;
  margin: 0 auto;
}

.descriptionText {
  max-width: 50vw;
  @extend %fonts-ff-regular;
  font-size: $font-size-lg-abs;
  color: $colors-font-inactive;
  margin: $layout-spacing-xsm 0 $layout-spacing-md;

  @media screen and (max-width: $layout-tablet-width-breakpoint) {
    max-width: 80vw;
  }

  @media screen and (max-width: $layout-app-width-breakpoint) {
    font-size: $font-size-md-abs;
  }

  @media screen and (max-width: $layout-portrait-xs-width-breakpoint) {
    font-size: $font-size-sm-abs;
  }
}
