@import '../../config/theme.scss';

.cardWrapper {
  position: relative;
  height: 100%;
  width: 100%;

  &__selected {
    @extend %hl-colors-gradient;
    padding: $layout-video-card-border_width;
    transform: translateY(-$layout-video-card-border_width);
  }
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform $layout-transition-time;
  transform-origin: center left;

  .playerContainer {
    position: absolute;
    left: calculate-player-scale-position-correction($layout-video-card-grow-factor);
    top: calculate-player-scale-position-correction($layout-video-card-grow-factor);
    bottom: calculate-player-scale-position-correction($layout-video-card-grow-factor);
    right: calculate-player-scale-position-correction($layout-video-card-grow-factor);
    transform: scale(calculate-player-scale-correction($layout-video-card-grow-factor));
  }

  &__expanded {
    transform: scale($layout-video-card-grow-factor);
  }
}

.image {
  height: 100%;
  width: 100%;
}

.indicatorContainer {
  position: absolute;
  bottom: -$font-size-xxlg-abs;
  left: 0;
  right: 0;
  text-align: center;
}

.indicator {
  font-size: $font-size-xxlg-abs * 2;
  line-height: $font-size-xxlg-abs * 2;
  z-index: $layout-z-index-top;
  @extend %hl-colors-font-gradient;

  animation: fadein 750ms ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}