@import '../../config//theme.scss';

.container {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform $layout-transition-time;
  transform-origin: center left;

  .playerContainer {
    position: absolute;
    left: $player-container-scale-position-correction;
    top: $player-container-scale-position-correction;
    bottom: $player-container-scale-position-correction;
    right: $player-container-scale-position-correction;
    transform: scale($player-container-scale-correction);
  }

  &:hover {
    transform: scale($layout-video-card-grow-factor);
  }
}

.image {
  height: 100%;
  width: 100%;
}