@import '../../config//theme.scss';

.container {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform $layout-transition-time;
  transform-origin: center left;

  .playerContainer {
    position: absolute;
    left: $player-container-scale-position-correction;
    top: $player-container-scale-position-correction;
    bottom: $player-container-scale-position-correction;
    right: $player-container-scale-position-correction;
    transform: scale($player-container-scale-correction);
  }

  &__expanded {
    transform: scale($layout-video-card-grow-factor);
  }

  &__selected {
    border: $layout-video-card-border_width solid $colors-border-active;
    transform: translateY(-$layout-video-card-border_width);
  }
}

.image {
  height: 100%;
  width: 100%;
}

.indicator {
  width: 0;
  height: 0;
  border-left: $layout-spacing-md solid transparent;
  border-right: $layout-spacing-md solid transparent;
  margin: 0 auto;
  border-top: $layout-spacing-sm solid $colors-border-active;
  z-index: $layout-z-index-top;
}