@import '../../config//theme.scss';

.buttonArea {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: $layout-border-radius;
  padding: $layout-spacing-sm $layout-spacing-lg;
  background-color: rgba(
    $colors-background-primary,
    $colors-opacity-traslucent
  );

  @extend %fonts-ff-bold;
  font-size: $font-size-lg;
  color: $colors-font-primary;

  i {
    margin-right: $layout-spacing-sm;
  }

  &:hover {
    background-color: $colors-background-secondary;
    color: $colors-font-contrast;
    animation: crescendo 0.2s ease-in;
    transform: scale(1.1);
  }

  &__circle {
    padding: $layout-spacing-sm;
    width: $layout-button-circular-width;
    border-radius: 50%;

    i {
      margin: auto;
    }

    &:hover {
      background-color: rgba(
        $colors-background-primary,
        $colors-opacity-traslucent
      );
      color: $colors-font-primary;
    }
  }

  &__border {
    border: $layout-button-border_width solid $colors-border-inactive;

    &:hover {
      border-color: $colors-border-active;
    }
  }

  &__topSeparated {
    margin-top: $layout-spacing-md;
  }

  &__rightSeparated {
    margin-right: $layout-spacing-md;
  }

  &__bottomSeparated {
    margin-bottom: $layout-spacing-md;
  }

  &__leftSeparated {
    margin-left: $layout-spacing-md;
  }
}

@keyframes crescendo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
