@import '../../config//theme.scss';

@mixin buttonArea($size) {
  $margin-size: $layout-spacing-md;
  $circular-width: $layout-button-circular-width-regular;
  $font-size: $font-size-lg;
  @if($size == "small") {
    $margin-size: $layout-spacing-xsm;
    $circular-width: $layout-button-circular-width-small;
    $font-size: $font-size-sm;
  }

  cursor: pointer;
  border: none;
  outline: none;
  border-radius: $layout-border-radius;
  padding: $layout-spacing-sm $layout-spacing-lg;
  background-color: rgba(
    $colors-background-primary,
    $colors-opacity-traslucent
  );
  transition: transform $layout-transition-time-quick;

  @extend %fonts-ff-bold;
  font-size: $font-size;
  color: $colors-font-primary;

  i {
    margin-right: $layout-spacing-sm;
  }

  &:hover {
    background-color: $colors-background-secondary;
    color: $colors-font-contrast;
    transform: scale($layout-button-grow-factor-small);
  }

  &__circle {
    padding: $layout-spacing-xsm;
    width: $circular-width;
    border-radius: 50%;

    i {
      margin: auto;
    }

    &:hover {
      background-color: rgba(
        $colors-background-primary,
        $colors-opacity-traslucent
      );
      color: $colors-font-primary;
    }
  }

  &__border {
    border: $layout-button-border_width solid $colors-border-inactive;

    &:hover {
      border-color: $colors-border-active;
    }
  }

  &__redContent {
    &:hover {
      color: $colors-button-primary;
    }
  }

  &__topSeparated {
    margin-top: $margin-size;
  }

  &__rightSeparated {
    margin-right: $margin-size;
  }

  &__bottomSeparated {
    margin-bottom: $margin-size;
  }

  &__leftSeparated {
    margin-left: $margin-size;
  }
}

.buttonArea {
  @include buttonArea($size: "regular")
}

.buttonAreaSmall {
  @include buttonArea($size: "small")
}
