@import '../../config//theme.scss';

@mixin buttonArea($size) {
  $margin-size: $layout-spacing-md;
  $circular-width: $layout-button-circular-width-regular;
  @include font-size-responsive($font-size-lg);
  $cicular-padding: $layout-spacing-xsm;

  @if($size == "small") {
    $margin-size: $layout-spacing-xsm;
    $circular-width: $layout-button-circular-width-small;
    @include font-size-responsive($font-size-sm);
  }

  @if($size == "big") {
    $cicular-padding: $layout-spacing-md;
    $circular-width: $layout-button-circular-width-big;
    @include font-size-responsive($font-size-xlg);
  }

  cursor: pointer;
  border: none;
  outline: none;
  border-radius: $layout-border-radius;
  padding: $layout-spacing-sm $layout-spacing-lg;
  background-color: rgba(
    $colors-background-primary,
    $colors-opacity-traslucent
  );
  transition: transform $layout-transition-time-quick;

  @extend %fonts-ff-bold;
  color: $colors-font-primary;

  i {
    margin-right: $layout-spacing-sm;
  }

  &:hover {
    background-color: $colors-background-secondary;
    color: $colors-font-contrast;
    transform: scale($layout-button-grow-factor-small);
  }

  &__circle {
    @include circular-button-size-responsive($circular-width, $cicular-padding);
    border-radius: 50%;

    i {
      margin: auto;
    }

    &:hover {
      background-color: rgba(
        $colors-background-primary,
        $colors-opacity-traslucent
      );
      color: $colors-font-primary;
    }
  }

  &__border {
    border: $layout-button-border_width solid $colors-border-inactive;

    &:hover {
      border-color: $colors-border-active;
    }
  }

  &__redContent {
    &:hover {
      color: $colors-button-primary;
    }
  }

  &__redBody {
    background-color: $colors-button-primary;

    &:hover {
      color: $colors-font-primary;
      background-color: $colors-button-active;
    }
  }

  &__upperCase {
    text-transform: uppercase;
  }

  &__topSeparated {
    margin-top: $margin-size;
  }

  &__rightSeparated {
    margin-right: $margin-size;
  }

  &__bottomSeparated {
    margin-bottom: $margin-size;
  }

  &__leftSeparated {
    margin-left: $margin-size;
  }
}

.buttonArea {
  @include buttonArea($size: 'regular');
}

.buttonAreaSmall {
  @include buttonArea($size: 'small');
}

.buttonAreaBig {
  @include buttonArea($size: 'big');
}
