@import '../../config/theme.scss';

@mixin buttonArea($size) {
  $margin-size: $layout-spacing-md;
  $circular-dimensions: $layout-button-circular-width-regular;
  $icon-size: $font-size-lg-abs;
  $cicular-padding: $layout-spacing-xsm;

  @if($size == "small") {
    $margin-size: $layout-spacing-xxsm-abs;
    $circular-dimensions: $layout-button-circular-width-small;
    $icon-size: $font-size-sm-abs;
  }

  @if($size == "big") {
    $cicular-padding: $layout-spacing-md-abs;
    $circular-dimensions: $layout-button-circular-width-big;
    $icon-size: $font-size-xlg-abs;
  }

  cursor: pointer;
  border: none;
  outline: none;
  border-radius: $layout-border-radius;
  padding: auto;
  background-color: rgba(
    $colors-background-primary,
    $colors-opacity-traslucent
  );
  transition: transform $layout-transition-time-quick;

  height: $circular-dimensions;
  width: $circular-dimensions;
  font-size: $icon-size;

  @media screen and (max-width: $layout-tablet-width-breakpoint) {
    height: $circular-dimensions * 0.85;
    width: $circular-dimensions * 0.85;
    font-size: $icon-size * 0.85;
  }

  @media screen and (max-width: $layout-app-width-breakpoint) {
    height: $circular-dimensions * 0.7;
    width: $circular-dimensions * 0.7;
    font-size: $icon-size * 0.7;
  }

  border-radius: 50%;

  @extend %fonts-ff-bold;
  color: $colors-font-data-and-button;

  i {
    margin: auto;
  }

  &:hover {
    background-color: rgba(
      $colors-background-secondary,
      $colors-opacity-traslucent
    );
    color: $colors-font-contrast;
    transform: scale($layout-button-grow-factor-small);
  }

  &__border {
    border: $layout-button-border_width solid $colors-border-inactive;

    &:hover {
      border-color: $colors-border-active;
    }
  }

  &__redContent {
    &:hover {
      color: $colors-button-primary;
    }
  }

  &__redBody {
    background-color: $colors-button-primary;

    &:hover {
      color: $colors-font-primary;
      background-color: $colors-button-active;
    }
  }

  &__upperCase {
    text-transform: uppercase;
  }

  &__topSeparated {
    margin-top: $margin-size;
  }

  &__rightSeparated {
    margin-right: $margin-size;
  }

  &__bottomSeparated {
    margin-bottom: $margin-size;
  }

  &__leftSeparated {
    margin-left: $margin-size;
  }
}

.buttonArea {
  @include buttonArea($size: 'regular');
}

.buttonAreaSmall {
  @include buttonArea($size: 'small');
}

.buttonAreaBig {
  @include buttonArea($size: 'big');
}
