@import '../../config/theme.scss';

.container {
  @extend %layout-absolute-fill;
  z-index: $layout-z-index-low;
  background: linear-gradient(transparent, $colors-background-primary 80%);
}

.dataContainer {
  position: absolute;
  bottom: $layout-sm-controls-bottom-space;
  left: $layout-spacing-md;
  margin-bottom: $layout-spacing-sm;
}

.dataRow {
  margin-bottom: $layout-spacing-xsm;
}

.titleText {
  @extend %fonts-ff-bold;
  color: $colors-font-secondary;
  font-size: $font-size-lg-abs;
  margin: $layout-spacing-xsm 0;
}

.separator {
  display: inline;
  @extend %fonts-ff-regular;
  color: $colors-font-bullets;
  font-size: $font-size-md-abs;
  margin: 0 $layout-spacing-sm;
}

.tagsRow {
  display: inline-block;
  margin-bottom: $layout-spacing-sm;
}

.tag {
  display: inline;
  @extend %fonts-ff-regular;
  color: $colors-font-secondary;
  font-size: $font-size-md-abs;
}