@import '../../config//theme.scss';

.container {
  @extend %layout-absolute-fill;
  z-index: $layout-z-index-low;
  background: linear-gradient(transparent 50%, $colors-background-primary);
}

.dataContainer {
  position: absolute;
  bottom: $layout-sm-controls-bottom-space;
  left: $layout-spacing-md;
  margin-bottom: $layout-spacing-sm;
}

.dataRow {
  margin-bottom: $layout-spacing-xsm;
}

.titleText {
  @extend %fonts-ff-bold;
  color: $colors-font-secondary;
  @include font-size-responsive($font-size-lg);
  margin: $layout-spacing-xsm 0;
}

.coincidenceText {
  @extend %fonts-ff-bold;
  color: $colors-font-highlight;
  @include font-size-responsive($font-size-md);
}

.parentalLabel {
  @extend %fonts-ff-regular;
  color: $colors-font-secondary;
  @include font-size-responsive($font-size-md);
  margin: 0 $layout-spacing-sm;
  padding: 0 $layout-spacing-sm;
  border: $layout-button-border_width solid $colors-border-inactive;
}

.durationText {
  @extend %fonts-ff-regular;
  color: $colors-font-secondary;
  @include font-size-responsive($font-size-md);
}

.separator {
  display: inline;
  @extend %fonts-ff-regular;
  color: $colors-font-bullets;
  @include font-size-responsive($font-size-md);
  margin: 0 $layout-spacing-sm;
}

.tag {
  display: inline;
  @extend %fonts-ff-regular;
  color: $colors-font-secondary;
  @include font-size-responsive($font-size-md);
}