@import '../../config/theme.scss';

.body {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: $layout-spacing-xxsm-abs $layout-spacing-lg;
  z-index: $layout-topbar-z-index;

  @media screen and (max-width: $layout-app-width-breakpoint) {
    justify-content: space-between;
  }
}

.anchorsContainer {
  position: relative;
  display: inline-block;
  margin: auto 0;
  padding-left: $layout-spacing-md-abs;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $colors-background-primary-opaque;
  z-index: $layout-hidden-z-index;
}

.logoContainer {
  height: $layout-topbar-content-height;
}

.anchor {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 100%;

  @extend %fonts-ff-bold;
  color: $colors-font-tertiary;
  font-size: $font-size-md-abs;
  margin: auto $layout-spacing-md;
  text-decoration: none;

  @media screen and (max-width: $layout-tablet-width-breakpoint) {
    font-size: $font-size-xsm-abs;
  }

  &:hover {
    color: $colors-font-highlight;
  }

  &:active {
    color: $colors-font-tertiary;
  }

  &__menuItem {
    display: block;
    height: auto;
    width: 100%;
    font-size: $font-size-md-abs;

    margin-bottom: $layout-spacing-sm-abs
  }
}

.moreOptionsMenuButton {
  position: relative;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: $layout-spacing-xxsm-abs;

  img {
    height: 100%;
  }
}

.moreOptionsMenu {
  background-color: $colors-background-primary-opaque;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: $layout-spacing-xxlg-abs;
  text-align: center;

  &:active {
    outline: none;
  }
}

.closeButton {
  position: absolute;
  top: $layout-spacing-sm-abs;
  right: $layout-spacing-sm-abs;
  border: none;
  background-color: transparent;

  i {
    @extend %hl-colors-font-gradient;
    font-size: $font-size-lg-abs;
  }

  &:active {
    outline: none;
  }
}