@import '../../config/theme.scss';

.body {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $layout-spacing-sm $layout-spacing-lg;
  z-index: $layout-topbar-z-index;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $colors-background-primary;
  z-index: $layout-hidden-z-index;
}

.logoContainer {
  height: 50px;
  width: 150px;
}

.text {
  @extend %fonts-ff-regular;
  color: $colors-font-primary;
}
