@import '../../config/theme.scss';

$breakpoints: (
  1170px: $episode-slider-cards-amount-tablet,
  768px: $episode-slider-cards-amount-mobile-landscape,
  576px: $episode-slider-cards-amount-mobile-portrait
);

@function calc-slider-card-width($cards-amount, $is-app: false) {
  @if($is-app) {
    @return (100vw - (($layout-spacing-xxlg) * 2 + $layout-spacing-xxlg * ($cards-amount - 1))) / $cards-amount;
  }
  @return (100vw - (($layout-spacing-lg) * 2 + $layout-spacing-lg * ($cards-amount - 1))) / $cards-amount;
}

.sliderFrame {
  position: relative;
  width: 100vw;
  margin-top: $layout-spacing-md;
  margin-left: -$layout-spacing-lg;
  z-index: $layout-z-index-low;

  .sliderRow {
    vertical-align: top;
    padding-left: $layout-spacing-lg;
    white-space: nowrap;
    transition: all $layout-transition-time;

    @media screen and (max-width: $layout-tablet-width-breakpoint) {
      padding-left: $layout-spacing-xxlg;
    }

    .sliderCard {
      position: relative;
      display: inline-block;
      margin-right: $layout-spacing-lg;
      transition: all $layout-transition-time;
      transform-origin: center left;

      @media screen and (max-width: $layout-tablet-width-breakpoint) {
        margin-right: $layout-spacing-xxlg;
      }

      @include calculate-cards-size($episode-slider-cards-amount-desktop, $aspect-ratio: $episode-aspect-ratio-coef);

      @each $width, $cards-amount in $breakpoints {
        @media screen and (max-width: $width) {
          @include calculate-cards-size($cards-amount, $aspect-ratio: $episode-aspect-ratio-coef)
        }
      }
    }
  }
}