@import '../../config/theme.scss';

.buttonAreaContainer {
  display: block;
  padding: $layout-spacing-xxsm-abs 0;

  &__extraSpacing {
    padding: $layout-spacing-xxsm-abs $layout-spacing-xxlg-abs;

    @media screen and (max-width: $layout-app-width-breakpoint) {
      padding: $layout-spacing-xxsm-abs 0;
    }
  }

  &__inline {
    display: inline-block;
    margin-right: $layout-spacing-sm-abs;
  }
}

.container {
  cursor: pointer;
  border: none;
  background-color: $colors-button-primary;
  padding: $layout-spacing-xsm-abs $layout-spacing-lg-abs;
  text-align: center;
  width: 100%;
  border-radius: $layout-border-radius-button;

  @extend %fonts-ff-indicator-and-buttons;
  font-size: $font-size-sm-abs;
  color: $colors-font-data-and-button;

  i {
    margin-right: $layout-spacing-sm-abs;
    font-size: $font-size-md-abs;
  }

  @media screen and (max-width: $layout-tablet-width-breakpoint) {
    padding: $layout-spacing-xsm-abs $layout-spacing-md-abs;

    i {
      margin-right: $layout-spacing-xsm-abs;
    }
  }

  @media screen and (max-width: $layout-app-width-breakpoint) {
    padding: $layout-spacing-xxsm-abs $layout-spacing-sm-abs;
    font-size: $font-size-sm-abs;

    i {
      margin-right: $layout-spacing-xxsm-abs;
      font-size: $font-size-xsm-abs;
    }
  }

  transition: transform $layout-transition-time-quick;

  &:focus {
    outline: none;
  }

  &:hover {
    &:not(.container__disabled) {
      transform: scale($layout-grow-factor-hl-button);
    }
  }

  &__disabled {
    opacity: 0.5;
  }

  &__gradientBG {
    @extend %hl-colors-gradient;
  }

  &__smallFont {
    font-size: $font-size-xxsm-abs;
  }

  &__largeFont {
    font-size: $font-size-lg-abs;

    i {
      font-size: $font-size-lg-abs;
    }
  }

  &__inline {
    display: inline-block;
    margin-right: $layout-spacing-sm-abs;
  }

  &__noText {
    i {
      margin-right: 0;
    }
  }
}