@import '../../config/theme.scss';

.row{
  margin-bottom: $layout-spacing-xsm;
}

.coincidenceText {
  display: inline;
  @extend %fonts-ff-bold;
  color: $colors-font-highlight;
  font-size: $font-size-md-abs;
  margin-right: $layout-spacing-xsm-abs;
}

.parentalLabel {
  display: inline;
  @extend %fonts-ff-bold;
  color: $colors-font-secondary;
  font-size: $font-size-md-abs;
  margin: 0 $layout-spacing-sm-abs;
  padding: 0 $layout-spacing-sm-abs;
  border: $layout-button-border_width solid $colors-border-inactive;
}

.infoRowText {
  display: inline;
  @extend %fonts-ff-bold;
  color: $colors-font-secondary;
  font-size: $font-size-md-abs;
}