@import '../../config//theme.scss';

$slider-cards-amount-desktop: 6;
$slider-cards-amount-tablet: 4;
$slider-cards-amount-mobile-landscape: 3;
$slider-cards-amount-mobile-portrait: 2;

@mixin calculate-cards-size($cards-amount) {
  $slider-card-width: (100vw - (($layout-spacing-lg) * 2 + $layout-spacing-xsm * ($cards-amount - 1))) / $cards-amount;
  $slider-card-height: $slider-card-width * (9 / 16);
  $translation-dimension: ($slider-card-width * ($layout-video-card-grow-factor - 1));

  height: $slider-card-height;
  width: $slider-card-width;

  &__expanded ~ .sliderCard {
    transform: translateX($translation-dimension);
  }
}

@mixin calculate-cards-left-movement($cards-amount) {
  $slider-card-width: (100vw - (($layout-spacing-lg) * 2 + $layout-spacing-xsm * ($cards-amount - 1))) / $cards-amount;
  $translation-dimension: -($slider-card-width * ($layout-video-card-grow-factor - 1) / 2);

  &__expandedFirst {
    &:hover {
      margin-left: 0 !important;
    }
  }

  &__expandedLast {
    &:hover {
      margin-left: $translation-dimension * 2 !important;
    }
  }

  &:hover {
    margin-left: $translation-dimension;
  }
}

.sliderFrame {
  position: relative;
  width: 100%;

  .sliderRow {
    padding-left: $layout-spacing-lg;
    white-space: nowrap;
    transition: all $layout-transition-time;

    .sliderCard {
      display: inline-block;
      margin-right: $layout-spacing-xsm;
      transition: all $layout-transition-time;
      transform-origin: center left;

      @media screen and (min-width: 1171px) {
        @include calculate-cards-size($cards-amount: $slider-cards-amount-desktop);
      }

      @media screen and (max-width: 1170px) and (min-width: 841px) {
        @include calculate-cards-size($cards-amount: $slider-cards-amount-tablet);
      }

      @media screen and (max-width: 840px) and (min-width: 641px) {
        @include calculate-cards-size($cards-amount: $slider-cards-amount-mobile-landscape);
      }

      @media screen and (max-width:640px) {
        @include calculate-cards-size($cards-amount: $slider-cards-amount-mobile-portrait);
      }
    }

    @media screen and (min-width: 1171px) {
      @include calculate-cards-left-movement($cards-amount: $slider-cards-amount-desktop);
    }

    @media screen and (max-width: 1170px) and (min-width: 841px) {
      @include calculate-cards-left-movement($cards-amount: $slider-cards-amount-tablet);
    }

    @media screen and (max-width: 840px) and (min-width: 641px) {
      @include calculate-cards-left-movement($cards-amount: $slider-cards-amount-mobile-landscape);
    }

    @media screen and (max-width:640px) {
      @include calculate-cards-left-movement($cards-amount: $slider-cards-amount-mobile-portrait);
    }
  }

  &:hover {
    .scrollButtonArea {
      opacity: 1;
    }
  }
}

.scrollButtonArea {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 $layout-spacing-md;
  width: $layout-spacing-lg;
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 40;
  opacity: 0;
  background-color: rgba(
    $colors-background-primary,
    $colors-opacity-traslucent
  );
  transition: opacity $layout-transition-time;
  z-index: 2000;

  i {
    transition: transform $layout-transition-time-quick;
    font-size: $font-size-xlg;
    color: $colors-font-primary;
  }

  &:hover {
    i {
      transform: scaleY(1.5) !important;
    }
  }

  &__left {
    left: 0;
  }

  &__right {
    right: 0;
  }
}