@import '../../config/theme.scss';

$slider-cards-amount-desktop: 6;
$slider-cards-amount-tablet: 4;
$slider-cards-amount-mobile-landscape: 3;
$slider-cards-amount-mobile-portrait: 2;

@function calc-slider-card-width($cards-amount) {
  @return (100vw - (($layout-spacing-lg) * 2 + $layout-spacing-xsm * ($cards-amount - 1))) / $cards-amount;
}

@function calc-slider-translation-base($cards-amount) {
  $card-width: calc-slider-card-width($cards-amount);
  @return $card-width * ($layout-video-card-grow-factor - 1)
}

@mixin calculate-cards-left-movement($cards-amount) {
  &__expandedFirst {
    &:hover {
      margin-left: 0 !important;
    }
  }

  &__expandedLast {
    &:hover {
      margin-left: - calc-slider-translation-base($cards-amount) !important;
    }
  }

  &__hovered {
    &:hover {
      margin-left: - calc-slider-translation-base($cards-amount) * 0.5;
    }
  }
}

.sliderFrame {
  position: relative;
  width: 100vw;
  z-index: $layout-z-index-low;

  .sliderRow {
    padding-left: $layout-spacing-lg;
    white-space: nowrap;
    transition: all $layout-transition-time;

    .sliderCard {
      position: relative;
      display: inline-block;
      margin-right: $layout-spacing-xsm;
      transition: all $layout-transition-time;
      transform-origin: center left;

      @media screen and (min-width: 1201px) {
        @include calculate-cards-size($cards-amount: $slider-cards-amount-desktop, $class-name: 'sliderCard');
      }

      @media screen and (max-width: 1200px) and (min-width: 769px) {
        @include calculate-cards-size($cards-amount: $slider-cards-amount-tablet, $class-name: 'sliderCard');
      }

      @media screen and (max-width: 768px) and (min-width: 577px) {
        @include calculate-cards-size($cards-amount: $slider-cards-amount-mobile-landscape, $class-name: 'sliderCard');
      }

      @media screen and (max-width: 576px) {
        @include calculate-cards-size($cards-amount: $slider-cards-amount-mobile-portrait, $class-name: 'sliderCard');
      }
    }

    @media screen and (min-width: 1201px) {
      @include calculate-cards-left-movement($cards-amount: $slider-cards-amount-desktop);
    }

    @media screen and (max-width: 1200px) and (min-width: 769px) {
      @include calculate-cards-left-movement($cards-amount: $slider-cards-amount-tablet);
    }

    @media screen and (max-width: 768px) and (min-width: 577px) {
      @include calculate-cards-left-movement($cards-amount: $slider-cards-amount-mobile-landscape);
    }

    @media screen and (max-width: 576px) {
      @include calculate-cards-left-movement($cards-amount: $slider-cards-amount-mobile-portrait);
    }
  }
}