@import '../../config/theme.scss';

.mainContainer {
  position: relative;
  padding-bottom: $layout-spacing-overview-bottom-space;
}

.sliderContainer {
  position: relative;
  margin-top: $layout-spacing-overview-sliders-overlap;
  z-index: $layout-z-index-mid;

  @media screen and (max-width: $layout-app-width-breakpoint) {
    margin-top: $layout-spacing-overview-sliders-overlap-app;
  }

  @media screen and (max-width: $layout-portrait-width-breakpoint) {
    margin-top: $layout-spacing-overview-sliders-overlap-mobile;
  }
}