@import '../../config/theme.scss';

.buttonArea {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: $layout-z-index-top;

  color: $colors-font-primary;
  font-size: $font-size-lg-abs;
  padding: $layout-spacing-xsm-abs 0;

  &:hover {
    color: $colors-button-primary;
  }

  @media screen and (max-width: $layout-tablet-width-breakpoint) {
    font-size: $font-size-md-abs;
  }
}

.iconScaled {
  transform: scale(5, 2);
}