@import '../../config/theme.scss';

.buttonArea {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: $layout-z-index-top;

  color: $colors-font-primary;
  @include font-size-responsive($font-size-lg);
  padding: $layout-spacing-xsm 0;

  &:hover {
    color: $colors-button-primary;
  }
}

.iconScaled {
  transform: scale(5, 2);
}