@import '../../config/theme.scss';

.mainContainer {
  position: relative;
  white-space: normal;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.imageContainer {
  position: relative;

  img {
    height: 100%;
    width: 100%;
  }
}

.linkRow {
  width: 100%;
  margin-top: $layout-spacing-sm;
  text-align: right;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $layout-spacing-xxsm;
}

.titleText {
  @extend %fonts-ff-bold;
  font-size: $font-size-md-abs;
  color: $colors-font-tertiary;
  margin-right: $layout-spacing-xsm-abs;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.durationText {
  width: auto;
  flex-shrink: 0;
  @extend %fonts-ff-bold;
  font-size: $font-size-md-abs;
  color: $colors-font-tertiary;
}

.descriptionText {
  @extend %fonts-ff-regular;
  font-size: $font-size-md-abs;
  color: $colors-font-tertiary;
  margin-bottom: $layout-spacing-sm-abs;

  @media screen and (max-width: $layout-app-width-breakpoint) {
    font-size: $font-size-sm-abs;
  }
}

