@import '../../config/theme.scss';

.mainContainer {
  position: relative;
  white-space: normal;
  width: 100%;
  height: 100%;
}

.imageContainer {
  position: relative;

  img {
    height: 100%;
    width: 100%;
  }
}

.overlay {
  @extend %layout-absolute-fill;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkRow {
  margin-top: $layout-spacing-sm;
  text-align: right;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $layout-spacing-xxsm;
}

.titleText {
  @extend %fonts-ff-bold;
  @include font-size-responsive($font-size-md);
  color: $colors-font-inactive;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.durationText {
  width: auto;
  flex-shrink: 0;
  @extend %fonts-ff-bold;
  @include font-size-responsive($font-size-md);
  color: $colors-font-inactive;
}

.descriptionText {
  @extend %fonts-ff-regular;
  @include font-size-responsive($font-size-md);
  color: $colors-font-inactive;
}

