@import '../../config/theme.scss';

$breakpoints-main: (
  1200px: $video-details-aspect-ratio-coef-tablet,
  992px: $video-details-aspect-ratio-coef-landscape,
  768px: $video-details-aspect-ratio-coef-portrait,
  375px: $video-details-aspect-ratio-coef-portrait-xs,
  335px: $video-details-aspect-ratio-coef-portrait-xxs
);

$breakpoints-player: (
  1200px: $video-details-video-width-tablet,
  992px: $video-details-video-width-landscape,
  768px: $video-details-video-width-portrait,
  375px: $video-details-video-width-portrait-xs,
  335px: $video-details-video-width-portrait-xxs
);

.mainContainer {
  position: relative;
  @include calculate-aspect-height(100vw, $video-details-aspect-ratio-coef);
  background-color: $colors-background-tertiary;
  overflow: hidden;

  @each $width, $aspect-ratio in $breakpoints-main {
    @media screen and (max-width: $width) {
      @include calculate-aspect-height(100vw, $aspect-ratio);
    }
  }
}

.playerContainer {
  position: absolute;
  top: 0;
  right: 0;
  @include calculate-aspect-height($video-details-video-width);

  @each $width, $aspect-width in $breakpoints-player {
    @media screen and (max-width: $width) {
      @include calculate-aspect-height($aspect-width);
    }
  }
}

.videoOverlay {
  @extend %layout-absolute-fill;
  background: linear-gradient(to right, $colors-background-tertiary 10%, transparent);

  @media screen and (max-width: $layout-app-width-breakpoint) {
    background: linear-gradient(to right, $colors-background-tertiary 20%, $colors-background-tertiary-overlay);
  }
}

.titleContainer {
  height: $layout-spacing-details-header-height;

  display: flex;
  align-items: center;
  justify-items: flex-start;
  padding-left: $layout-spacing-lg;
  margin-top: $layout-spacing-xlg-abs;

  transition: margin-top $layout-transition-time-quick;

  &__shrinked  {
    margin-top: $layout-spacing-md-abs;

    @media screen and (max-width: $layout-app-width-breakpoint) {
      margin-top: $layout-spacing-lg-abs;
    }
  }
}

.titleText {
  max-width: 80%;
  @extend %fonts-ff-bold;
  font-size: $font-size-lg-abs;
  color: $colors-font-primary;
  text-transform: uppercase;
  margin-bottom: $layout-spacing-sm-abs;

  z-index: $layout-z-index-mid;
}

.bottomTabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: $layout-z-index-mid;
}

.tabContainer {
  display: inline-block;
  margin: 0 $layout-spacing-sm-abs;
}

.tab {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: $layout-spacing-xxsm-abs 0;
}

.tabIndicator {
  height: $layout-tab-border_width;
  background-color: transparent;

  &__selected {
    @extend %hl-colors-gradient;
  }
}

.tabText {
  @extend %fonts-ff-bold;
  color: $colors-font-inactive;
  font-size: $font-size-lg-abs;
  text-transform: uppercase;

  @media screen and (max-width: $layout-app-width-breakpoint) {
    font-size: $font-size-md-abs;
  }

  &__selected {
    color: $colors-font-secondary;
  }
}

.closeButton {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  top: $layout-spacing-sm;
  right: $layout-spacing-md;
  z-index: $layout-z-index-mid;

  @extend %fonts-ff-bold;
  font-size: $font-size-xlg-abs;
  color: $colors-font-primary;
}