@import '../../config/theme.scss';

$breakpoints: (
  1170px: $video-details-aspect-ratio-coef-tablet,
  840px: $video-details-aspect-ratio-coef-landscape,
  640px: $video-details-aspect-ratio-coef-portrait
);

.mainContainer {
  position: relative;
  @include calculate-aspect-height(100vw, $video-details-aspect-ratio-coef);
  background-color: $colors-background-tertiary;
  overflow: hidden;

  @each $width, $aspect-ratio in $breakpoints {
    @media screen and (max-width: $width) {
      @include calculate-aspect-height(100vw, $aspect-ratio);
    }
  }
}

.innerContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.headerContainer {
  position: relative;
  height: $layout-spacing-details-header-height;
  width: $layout-spacing-details-header-width;
  padding: $layout-spacing-md 0 $layout-spacing-md $layout-spacing-lg;
  margin-bottom: $layout-spacing-md;
  z-index: $layout-z-index-mid;
}

.playerContainer {
  position: absolute;
  top: 0;
  right: 0;
  @include calculate-aspect-height($video-details-video-width);

  @media screen and (max-width: 840px) {
    @include calculate-aspect-height($video-details-video-width-landscape)
  }

  @media screen and (max-width: 640px) {
    @include calculate-aspect-height($video-details-video-width-portrait)
  }
}

.videoOverlay {
  @extend %layout-absolute-fill;
  background: linear-gradient(to right, $colors-background-tertiary 10%, transparent);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  height: $layout-spacing-details-header-height;
  width: $layout-spacing-details-header-width;
  border: 1px solid $colors-font-secondary;
  margin-bottom: $layout-spacing-md;
  transition: all $layout-transition-time-quick;

  &__shrinked  {
    height: $layout-spacing-details-header-height * $video-details-header-shrink-factor;
    width: $layout-spacing-details-header-width * $video-details-header-shrink-factor;
  }
}

.logoText {
  @extend %fonts-ff-bold;
  @include font-size-responsive($font-size-xlg);
  color: $colors-font-primary;
  padding: $layout-spacing-md;
}

.bottomTabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: $layout-z-index-mid;
}

.tabContainer {
  display: inline-block;
  margin: 0 $layout-spacing-md;
}

.tab {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: $layout-spacing-xsm 0;
}

.tabIndicator {
  height: $layout-tab-border_width;
  background-color: transparent;

  &__selected {
    @extend %hl-colors-gradient;
  }
}

.tabText {
  @extend %fonts-ff-regular;
  color: $colors-font-primary;
  @include font-size-responsive($font-size-lg);
  text-transform: uppercase;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  top: $layout-spacing-sm;
  right: $layout-spacing-md;
  z-index: $layout-z-index-mid;

  @extend %fonts-ff-bold;
  @include font-size-responsive($font-size-xlg);
  color: $colors-font-primary;
}