@import '../../config/theme.scss';

$breakpoints: (
  1170px: $video-details-aspect-ratio-coef-tablet,
  840px: $video-details-aspect-ratio-coef-landscape,
  640px: $video-details-aspect-ratio-coef-portrait
);

.mainContainer {
  position: relative;
  @include calculate-aspect-height(100vw, $video-details-aspect-ratio-coef);
  background-color: $colors-background-tertiary;
  overflow: hidden;

  @each $width, $aspect-ratio in $breakpoints {
    @media screen and (max-width: $width) {
      @include calculate-aspect-height(100vw, $aspect-ratio);
    }
  }
}

.playerContainer {
  position: absolute;
  top: 0;
  right: 0;
  @include calculate-aspect-height($video-details-video-width);

  @media screen and (max-width: $layout-desktop-small-width-breakpoint) {
    @include calculate-aspect-height($video-details-video-width-tablet);
  }

  @media screen and (max-width: $layout-tablet-width-breakpoint) {
    @include calculate-aspect-height($video-details-video-width-landscape);
  }

  @media screen and (max-width: $layout-app-width-breakpoint) {
    @include calculate-aspect-height($video-details-video-width-portrait);
  }
}

.videoOverlay {
  @extend %layout-absolute-fill;
  background: linear-gradient(to right, $colors-background-tertiary 10%, transparent);
}

.titleContainer {
  height: $layout-spacing-details-header-height;

  display: flex;
  align-items: center;
  justify-items: flex-start;
  padding-left: $layout-spacing-lg;
  margin-top: $layout-spacing-xxlg;

  transition: margin-top $layout-transition-time-quick;

  &__shrinked  {
    margin-top: $layout-spacing-md;

    @media screen and (max-width: $layout-app-width-breakpoint) {
      margin-top: $layout-spacing-lg;
    }
  }
}

.titleText {
  max-width: 50%;
  @extend %fonts-ff-bold;
  @include font-size-responsive($font-size-xlg);
  color: $colors-font-primary;
  text-transform: uppercase;

  z-index: $layout-z-index-mid;
}

.bottomTabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: $layout-z-index-mid;
}

.tabContainer {
  display: inline-block;
  margin: 0 $layout-spacing-md;
}

.tab {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: $layout-spacing-sm 0;
}

.tabIndicator {
  height: $layout-tab-border_width;
  background-color: transparent;

  &__selected {
    @extend %hl-colors-gradient;
  }
}

.tabText {
  @extend %fonts-ff-bold;
  color: $colors-font-inactive;
  @include font-size-responsive($font-size-lg);
  padding: 0 $layout-spacing-xxsm;
  text-transform: uppercase;

  &__selected {
    color: $colors-font-secondary;
  }
}

.closeButton {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  top: $layout-spacing-sm;
  right: $layout-spacing-md;
  z-index: $layout-z-index-mid;

  @extend %fonts-ff-bold;
  font-size: $font-size-xlg-abs;
  color: $colors-font-primary;
}