@import '../../config/theme.scss';

.mainContainer {
  position: relative;
  width: 100%;
}

.dataContainer {
  @extend %layout-absolute-fill;
  padding: $layout-spacing-md $layout-spacing-lg;
  z-index: $layout-z-index-low;
}

.buttonsRow {
  margin-bottom: $layout-spacing-xxsm-abs;
}

.descriptionText {
  @extend %fonts-ff-regular;
  font-size: $font-size-lg-abs;
  color: $colors-font-inactive;
  width: $layout-spacing-details-header-width;
  margin: $layout-spacing-sm-abs 0 $layout-spacing-md-abs;

  @media screen and (max-width: $layout-app-width-breakpoint) {
    width: $layout-spacing-details-header-width-responsive;
  }

  @media screen and (max-width: $layout-portrait-width-breakpoint) {
    font-size: $font-size-md-abs;
  }
}