@import '../../config//theme.scss';

.mainContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.dataContainer {
  @extend %layout-absolute-fill;
  padding: $layout-spacing-md $layout-spacing-lg;
  z-index: $layout-z-index-low;
}

.buttonsRow {
  margin-bottom: $layout-spacing-md;
}

.descriptionText {
  @extend %fonts-ff-bold;
  font-size: $font-size-lg;
  color: $colors-font-inactive;
  width: $layout-spacing-details-header-width;
  margin: $layout-spacing-md 0;
}