@import '../../config//theme.scss';

.mainContainer {
  position: relative;
  overflow: hidden;
  padding-bottom: $layout-spacing-xlg;
}

.titleText{
  @extend %fonts-ff-bold;
  font-size: $font-size-lg;
  color: $colors-font-primary;
  padding: $layout-spacing-lg $layout-spacing-lg $layout-spacing-sm;
}