@import '../../config/theme.scss';

.mainContainer {
  position: relative;
  overflow: hidden;
  padding: $layout-spacing-podcast-slider-top 0 $layout-spacing-podcast-slider-bottom;

  @media screen and (max-width: $layout-app-width-breakpoint) {
    padding: $layout-spacing-podcast-app-slider-top 0 $layout-spacing-podcast-app-slider-bottom;
  }
}

.titleText{
  @extend %fonts-ff-bold;
  font-size: $font-size-xlg-abs;
  color: $colors-font-tertiary;
  padding: $layout-spacing-md $layout-spacing-lg $layout-spacing-sm-abs;

  @media screen and (max-width: $layout-app-width-breakpoint) {
    font-size: $font-size-lg-abs;
  }
}